---
import Logo from "../components/Logo.astro";
import Layout from "../layouts/Layout.astro";
---

<div class="not_found">
  <Layout>
    <div class="logo">
      <Logo />
    </div>

    <div class="box" x-init="$store.menuToggle.clickIcon()">
      <h2 class="heading">
        you gotta <span class="animate-ping">&uarr;</span>
      </h2>
      <h2 class="animate_404">
        it's <span class="animate-pulse">404</span>
      </h2>
    </div>
  </Layout>
</div>
