---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <!-- Title section -->
  <div class="text-center py-10">
    <h1 class="text-5xl font-bold font-coder">move.</h1>
  </div>

  <!-- Posts section -->
  <div
    class="py-15 space-y-6 w-96 text-justify content-center mx-auto"
    x-init="slideOverOpen=true"
  >
    <h2 class="text-4xl font-bold">404</h2>
    <h2 class="text-4xl font-bold font-coder">you gotta &rarr;</h2>
  </div>
</Layout>
