---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Logo from "../components/Logo.astro";
import FormattedDate from "../components/FormattedDate.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await post.render();
---

<Logo />
<Layout {...post.data}>
  <div class="space-y-6 w-1/2 content-center mx-auto">
    <div class="text-justify">
      <h2 class="text-2xl font-semibold">{post.data.title}</h2>
      <span class="text-gray-500 text-right text-xs"
        ><FormattedDate
          date={post.data.updatedDate || post.data.pubDate}
        /></span
      >
      <div class="my-5">
        <Content />
      </div>
    </div>
  </div>
</Layout>
