---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Logo from "../components/Logo.astro";
import Footer from "../components/Footer.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await post.render();
---

<Layout
  description={post.data.description}
  title={post.data.socialTitle || post.data.title}
  image={post.data.hero?.src}
>
  <Logo />
  <div class="container mx-auto px-4 py">
    <div class="mx-auto w-[90%] md:w-1/2 lg:w-1/2 xl:w-1/2 2xl:w-1/2">
      <div>
        <div class="my-5">
          <article
            class="dark:prose-invert prose lg:prose-xl prose-p:text-justify prose-img:rounded-xl"
          >
            <h2 class="text-3xl font-semibold mb-0">{post.data.title}</h2>
            <span class="text-gray-500 text-right text-xs"
              ><FormattedDate
                date={post.data.updatedDate || post.data.pubDate}
              /></span
            >
            <Content />
          </article>
        </div>

        <!-- ========== FOOTER ========== -->
        <footer class="mt-20 mb-5">
          <!-- Grid -->
          <div class="text-left">
            <div>
              --<p
                class="flex-none text-xl font-semibold text-black dark:text-white"
                aria-label="Hitesh"
              >
                Hitesh Joshi
              </p>
            </div>
            <!-- End Col -->

            <p class="text-gray-500 dark:text-neutral-500">
              Got some comments? <a
                href={"https://twitter.com/intent/tweet?text=@hiteshjoshi%20" +
                  Astro.url}
                class="font-semibold text-blue-600 hover:text-blue-700 dark:text-blue-500 dark:hover:text-blue-400"
                target="_blank">Shoot a tweet</a
              >
            </p>

            <!-- Social Brands -->
            <Footer />
            <!-- End Social Brands -->
          </div>
          <!-- End Grid -->
        </footer>
        <!-- ========== END FOOTER ========== -->
      </div>
    </div>
  </div>
</Layout>
