---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Logo from "../components/Logo.astro";
import { Image } from "astro:assets";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await post.render();
---

<Layout
  description={post.data.description}
  title={post.data.socialTitle || post.data.title}
  image={post.data.hero?.src}
>
  <Logo />
  <div class="container mx-auto px-4 py">
    <div class="mx-auto w-[90%] md:w-1/2 lg:w-1/2 xl:w-1/2 2xl:w-1/2">
      <div>
        <div class="my-5">
          <article
            class="dark:prose-invert prose lg:prose-xl prose-p:text-justify prose-img:rounded-xl"
          >
            <!-- {
              post.data.hero !== undefined &&
                post.data.heroAlt !== undefined && (
                  <Image src={post.data.hero!} alt={post.data.heroAlt} />
                )
            } -->

            <h2 class="text-3xl font-semibold mb-0">{post.data.title}</h2>
            <span class="text-gray-500 text-right text-xs"
              ><FormattedDate
                date={post.data.updatedDate || post.data.pubDate}
              /></span
            >
            <Content />
          </article>
        </div>
      </div>
    </div>
  </div>
</Layout>
