---
import Layout from "../layouts/Layout.astro";
import FormattedDate from "../components/FormattedDate.astro";
import { getCollection } from "astro:content";
const posts = (await getCollection("blog",({ data }) => {
    if (data.isDraft !== true || import.meta.env.VERCEL_ENV === 'development')
    return data;
  })).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---
<Layout>
<div class="main antialiased">
		
			<div class="post">
				{
					posts.map((post) => (
					<div class="posts">
							<a data-astro-prefetch href=`/${post.slug}/`><h2 class="heading">{post.data.title}</h2></a>
							<span class="date">
								<FormattedDate date={post.data.updatedDate || post.data.pubDate} />
							</span>
							<p class="desc">{post.data.description}</p>
						</div>
					))
				}
			</div>
		
  </div>
</Layout>
