---
import Layout from "../components/Layout.astro";
import FormattedDate from "../components/FormattedDate.astro";
import { getCollection } from "astro:content";
const posts = (
  await getCollection("blog", ({ data }) => {
    if (data.isDraft !== true || import.meta.env.VERCEL_ENV === "development")
      return data;
  })
).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<Layout>
  <div class="main antialiased">
    <div class="posts_group">
      {
        posts.map((post) => (
          <a data-astro-prefetch href={`/${post.slug}/`}>
            <div class="posts group">
              <div class="flex items-center">
                <div class="line w-4 h-1 bg-black" />
                <h2 class="heading font-heading pl-4">{post.data.title}</h2>
              </div>

              <span class="date">
                <FormattedDate
                  date={post.data.updatedDate || post.data.pubDate}
                />
              </span>
              <p class="desc">{post.data.description}</p>
            </div>
          </a>
        ))
      }
    </div>
  </div>
</Layout>
