---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <!-- Title section -->
  <div class="text-center py-10">
    <h1 class="text-5xl font-bold font-coder">move.</h1>
  </div>

  <!-- Posts section -->
  <div class="space-y-6 w-96 content-center mx-auto">
    <div class="text-justify">
      <h2 class="text-2xl font-semibold">Rolling asdf asdf oasdfasdfkl</h2>
      <span class="text-gray-500 text-right text-xs">June 22 2017 at 23:12</span
      >
    </div>
    <div class="text-justify">
      <h2 class="text-2xl font-semibold">Introduce</h2>
      <span class="text-gray-500 text-xs ml-1">June 10 2016</span>
    </div>
    <div class="text-justify">
      <h2 class="text-2xl font-semibold">Largescale</h2><span
        class="text-gray-500 text-xs ml-1">June 01 2016</span
      >
    </div>
    <div class="text-justify">
      <h2 class="text-2xl font-semibold">Styling</h2><span
        class="text-gray-500 text-xs ml-1">June 01 2016</span
      >
    </div>
    <div class="text-justify">
      <h2 class="text-2xl font-semibold">Beginning</h2><span
        class="text-gray-500 text-xs ml-1">June 01 2016</span
      >
    </div>
  </div>

  <!-- Down arrow -->
  <!-- <div class="text-center py-10">
        <div class="text-3xl">&darr;</div>
      </div>
	   -->
</Layout>
