---
export let svgWidth: number = 100;
---

<div
  class="flex text-center items-center mt-4 p-4 space-x-2 text-gray-900 md:py-0"
>
  <a href="/" class="text-5xl font-bold font-coder"
    ><svg
      width={svgWidth}
      viewBox="0 0 514 85"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      class="dark:fill-gray-100 fill-black"
    >
      <g>
        <g id="move.">
          <path
            d="M0,83 L21.8571429,83 L21.8571429,42.4741784 C21.8571429,29.6150235 31.2244898,20.2629108 43.7142857,20.2629108 C56.5943878,20.2629108 65.5714286,29.6150235 65.5714286,42.4741784 L65.5714286,83 L87.4285714,83 L87.4285714,42.4741784 C87.4285714,29.6150235 96.4056122,20.2629108 109.285714,20.2629108 C121.77551,20.2629108 131.142857,29.6150235 131.142857,42.4741784 L131.142857,83 L153,83 L153,42.4741784 C153,17.1455399 135.045918,0 109.67602,0 C97.5765306,0 85.4770408,5.0657277 77.2806122,13.6384977 C69.4744898,5.0657277 58.1556122,0 44.1045918,0 C21.8571429,0 0,17.1455399 0,42.4741784 L0,83 Z"
            id="Path"></path>
          <path
            d="M220,85 C243.571429,85 264,65.8944954 264,42.5 C264,17.1559633 245.535714,0 220,0 C196.428571,0 176,19.1055046 176,42.5 C176,67.8440367 194.464286,85 220,85 Z M220,64.7247706 C207.428571,64.7247706 198,54.9770642 198,42.5 C198,29.6330275 207.428571,20.2752294 220,20.2752294 C232.964286,20.2752294 242,29.6330275 242,42.5 C242,54.9770642 232.964286,64.7247706 220,64.7247706 Z"
            id="Shape"></path>
          <polygon
            id="Path"
            points="306 83 328 83 361 2 339 2 317 60.8028846 295 2 273 2"
          ></polygon>
          <path
            d="M415,85 C426.785714,85 437.392857,80.3211009 445.25,72.5229358 L431.892857,58.8761468 C426,64.3348624 422.071429,66.2844037 415,66.2844037 C404,66.2844037 395.357143,59.6559633 392.607143,49.9082569 L459,49.9082569 L459,42.5 C457.428571,15.9862385 440.535714,0 415,0 C391.428571,0 371,19.1055046 371,42.5 C371,67.8440367 389.464286,85 415,85 Z M393,33.1422018 C396.142857,24.1743119 404,17.5458716 415,17.5458716 C426.392857,17.5458716 434.25,23.7844037 437.392857,33.1422018 L393,33.1422018 Z"
            id="Shape"></path>
          <path
            d="M500.5,85 C507.934783,85 514,78.9347826 514,71.5 C514,64.0652174 507.934783,58 500.5,58 C493.065217,58 487,64.0652174 487,71.5 C487,78.9347826 493.065217,85 500.5,85 Z"
            id="Path"></path>
        </g>
      </g>
    </svg>
  </a>
</div>
