---
import BaseHead from "../components/BaseHead.astro";
import Logo from "../components/Logo.astro";
import Navigation from "../components/Navigation.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
const isHomePage = Astro.url.pathname.split("/")[1] === "";
---

<!doctype html>
<html
  lang="en"
  x-data="{ darkMode: localStorage.getItem('darkMode') || (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'), init() {      const mediaQuery = window.matchMedia('(prefers-color-scheme: dark)');      this.setDarkMode(mediaQuery.matches ? 'dark' : 'light');      mediaQuery.addListener(e => this.setDarkMode(e.matches ? 'dark' : 'light'));      this.$watch('darkMode', val => localStorage.setItem('darkMode', val));    },    setDarkMode(value) {      this.darkMode = value;      localStorage.setItem('darkMode', value);    }  }"
  x-init="init()"
  x-bind:class="{'dark': darkMode === 'dark'}"
>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="bg-white text-gray-800 antialiased dark:bg-gray-900">
    <div class="relative min-h-screen">
      <div
        class="w-full h-full absolute z-[-1] top-0 left-0"
        x-data="{ opacity: 0, increasing: true }"
        x-init="setInterval(() => { if (increasing) {    opacity += 0.1;     if (opacity >= 0.9) increasing = false;} else {    opacity -= 0.1;    if (opacity <= 0) increasing = true;}}, 150)"
        x-bind:style="'opacity: ' + opacity.toFixed(1)"
      >
        <div
          class="w-full h-full opacity-10 dark:opacity-[.15]"
          style="background: radial-gradient(circle at 83% 350px, rgb(0, 255, 196), rgba(0, 255, 196, 0) 500px), radial-gradient(circle at 15% 1050px, rgb(0, 165, 255), rgba(0, 165, 255, 0) 500px), radial-gradient(circle at 84% 1750px, rgb(0, 165, 255), rgba(0, 165, 255, 0) 500px), radial-gradient(circle at 15% 2450px, rgb(0, 255, 196), rgba(0, 255, 196, 0) 500px), radial-gradient(circle at 85% 3150px, rgb(0, 255, 196), rgba(0, 255, 196, 0) 500px), radial-gradient(circle at 15% 3850px, rgb(0, 255, 196), rgba(0, 255, 196, 0) 500px), radial-gradient(circle at 85% 4550px, rgb(0, 255, 196), rgba(0, 255, 196, 0) 500px), radial-gradient(circle at 15% 5250px, rgb(69, 0, 255), rgba(69, 0, 255, 0) 500px), radial-gradient(circle at 85% 5950px, rgb(69, 0, 255), rgba(69, 0, 255, 0) 500px), radial-gradient(circle at 15% 6650px, rgb(0, 255, 196), rgba(0, 255, 196, 0) 500px), radial-gradient(circle at 89% 7350px, rgb(0, 165, 255), rgba(0, 165, 255, 0) 500px), radial-gradient(circle at 15% 8050px, rgb(0, 165, 255), rgba(0, 165, 255, 0) 500px), radial-gradient(circle at 87% 8750px, rgb(0, 255, 196), rgba(0, 255, 196, 0) 500px), radial-gradient(circle at 15% 9450px, rgb(69, 0, 255), rgba(69, 0, 255, 0) 500px), radial-gradient(circle at 88% 10150px, rgb(69, 0, 255), rgba(69, 0, 255, 0) 500px);"
        >
        </div>
      </div>

      {
        isHomePage ? (
          <div class="py-10 flex items-center justify-center">
            <Logo />
          </div>
        ) : null
      }
      <Navigation />

      <slot />
    </div>
    <script
      is:inline
      src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/3.13.3/cdn.min.js"
    ></script>
  </body>
</html>
