---
import BaseHead from "../components/BaseHead.astro";
import Logo from "../components/Logo.astro";
import Navigation from "../components/Navigation.astro";
const isHomePage = Astro.url.pathname.split("/")[1] === "";

interface Props {
  title?: string;
  description?: string;
  image?: string;
}

const { image, title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head> </head>
  <BaseHead title={title} description={description} image={image} />

  <body class="bg-white text-gray-800 antialiased dark:bg-gray-900">
    <div class="relative min-h-screen">
      <div class="w-full h-full absolute z-[-1] top-0 left-0">
        <div class="w-full h-full opacity-10 dark:opacity-[.15]"></div>
      </div>

      {
        isHomePage ? (
          <div class="py-10 flex items-center justify-center">
            <Logo />
          </div>
        ) : null
      }
      <Navigation />

      <slot />
    </div>
  </body>


</html>
