---
import BaseHead from "../components/BaseHead.astro";
import Logo from "../components/Logo.astro";
import Navigation from "../components/Navigation.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
const isHomePage = Astro.url.pathname.split("/")[1] === "";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body x-data="" class="bg-white text-gray-800 antialiased">
    {
      isHomePage ? (
        <div class="py-10 flex items-center justify-center">
          <Logo />
        </div>
      ) : (
        <Logo />
      )
    }
    <Navigation />

    <!-- Main container -->
    <div class="container mx-auto px-4 py">
      <slot />
    </div>
    <script
      is:inline
      src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/3.13.3/cdn.min.js"
    ></script>
  </body>
</html>
