---
import BaseHead from "../components/BaseHead.astro";
import Logo from "../components/Logo.astro";
import Navigation from "../components/Navigation.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
const isHomePage = Astro.url.pathname.split("/")[1] === "";
---

<!doctype html>
<html
  lang="en"
  x-data="{ darkMode: localStorage.getItem('darkMode') || localStorage.setItem('darkMode', 'system')}"
  x-init="$watch('darkMode', val => localStorage.setItem('darkMode', val))"
  x-bind:class="{'dark': darkMode === 'dark' || (darkMode === 'system' && window.matchMedia('(prefers-color-scheme: dark)').matches)}"
>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="bg-white text-gray-800 antialiased dark:bg-gray-900">
    {
      isHomePage ? (
        <div class="py-10 flex items-center justify-center">
          <Logo />
        </div>
      ) : null
    }
    <Navigation />

    <slot />
    <script
      is:inline
      src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/3.13.3/cdn.min.js"
    ></script>
  </body>
</html>
